.recipe-item {
    width: 350px;
    min-height: 470px;
    padding: 25px;
    border: 1px solid #1314151A;
    border-radius: 8px;
    position: relative;

    &__level {
        display: block;
        font-size: 12px;
        color: #f26522;
        margin-bottom: 6px;
    }

    &__image {
        width: 100%;
        min-height: 160px;
        margin-bottom: 8px;
        border-radius: 4px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 20px;
    }

    &__ingridients-title {
        font-size: 16px;
        margin-bottom: 16px;
    }

    &__list {
        list-style: none;
    }

    &__list-item {
        font-size: 14px;
        margin-bottom: 6px;
    }

    &__cost-wrap {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 20px;
    }

    &__approximate {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
    }

    &__price {
        display: block;
    }

    &__reviews {
        display: flex;
        justify-content: end;
        font-size: 12px;
        color: #13141533;
        line-height: 14px;
        align-items: center;
    }

    &__button {
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
    }

    &__reviews-icon {
        max-width: 20px;
        margin-right: 4px;
    }
}