.uiButton {
    outline: none;
    background: none;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background: #F26522;
    cursor: pointer;
    color: white;
    font-weight: 600;
    width: 100%;
}